.advantages {
  // outline: 1px solid red;
  color: $color-header;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
   
  }

  &__head {
    font-size: 44px;
    line-height: 53px;  
    font-family: "SFProDisplay-Light";
    margin-left: 10px;
    margin-bottom: 69px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin-left: 16px;
  }

  &__article {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 59px;

    &:nth-child(1) {
      margin: 0px 0 90px 0px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background: url("../img/1-2.png") 100% 100% no-repeat;
        background-size: cover;
        width: 245px;
        height: 47px;
        right: -10%;
        top: 16%;
      }
    }

    &:nth-child(2) {
      margin: 12px 0 0 37px;

      position: relative;

      &:before {
        position: absolute;
        content: '';
        background: url("../img/2-3.png") 100% 100% no-repeat;
        background-size: cover;
        width: 463px;
        height: 64px;
        left: -81%;
        bottom: 9%;
      }
    }

    &:nth-child(3) {
      margin: 0 0 78px 23px;      
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background: url("../img/3-4.png") 100% 100% no-repeat;
        background-size: cover;
        width: 254px;
        height: 41px;
        right: -14%;
        top: 11%;
      }
    }
    &:nth-child(4) {
      margin: 15px 0px 0 51px;
    }
  }

  &__number {
    font-size: 36px;
    line-height: 41px;
    margin: 93px 5px 0 0;
  }

  &__image-wrapper {
    width: 195px;
    height: 130px;
    position: relative;
    z-index: 1;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 10px;
      top: -10px;
      border: 2px solid $color-header;
      z-index: -1;
    }
  }

  &__article-content {
    margin-left: 32px;
  }

  &__article-head {
    margin: 0;
    width: 112px;
    font-size: 21px;
    line-height: 24px;
    font-family: "SFProDisplay-Semibold";
  }
  &__article-text {
    font-size: 15px;
    line-height: 130%;
    font-family: "SFProDisplay-Light";
    font-weight: 300;
    max-width: 300px;
  }
}